%% -*- erlang -*-
%% Config file for arygon application
%%
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
{dep, [
       {uart,  ".*", {git, "git://github.com/tonyrog/uart.git","0.2"}},
       {lager, ".*", {git, "git://github.com/basho/lager.git","3.0.1"}}
      ]}.
